# Yandex.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Stages 
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses. 

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Testing the hypotheses
 
[Back to Contents](#back)

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Yandex.Music and explore it.

You'll need `pandas`, so import it.

In [3]:
#imported pandas as pd

import pandas as pd

Read the file `music_project_en.csv` from the `/datasets/` folder and save it in the `df` variable:

In [4]:
#Read the file from designated foder and saved in df variable

df = pd.read_csv('/datasets/music_project_en.csv')

#Generate descriptive statistics

df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  21:51:22  Friday
freq          76    136        136   8850        45360        14   23149

Print the first 10 table rows:

In [5]:
#Print the first 10 table rows

df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Obtaining the general information about the table with one command:

In [6]:
#General information abou the table

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
  userID    65079 non-null object
Track       63736 non-null object
artist      57512 non-null object
genre       63881 non-null object
  City      65079 non-null object
time        65079 non-null object
Day         65079 non-null object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` — user identifier
- `'Track'` — track title
- `'artist'` — artist's name
- `'genre'`
- `'City'` — user's city
- `'time'` — the exact time the track was played
- `'Day'` — day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. The column name'userID' contains two words and did not use snakecase.

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

[Back to Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Print the column header:

In [7]:
#printing the column header

print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Change column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Delete spaces

In [8]:
#renaming the columns with correct names

df = df.rename(
    columns = {
        '  userID' : 'user_id',
        'Track' : 'track',
        '  City  ' : 'city',
        'Day' : 'day',
        
    }
)

Check the result. Print the names of the columns once more:

In [9]:
#print the updated column names to verify

print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [10]:
#checking for missing values

print(df.isna().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

In [11]:
#checking for missing values

print(df.isnull().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Not all missing values affect the research. For instance, the missing values in `track` and `artist` are not critical. You can simply replace them with clear markers.

But missing values in `'genre'` can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So you will have to:
* Fill in these missing values with markers
* Evaluate how much the missing values may affect your computations

Replace the missing values in `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [12]:
#replacing the missing values

#creating a list of columns to be replaced

columns_to_replace = ['track', 'artist', 'genre']

#looping over the columns in the list

for columns in columns_to_replace:
    
    #replacing the missing values with 'unknown' in each of the columns
    
    df[columns].fillna('unknown', inplace=True)

Make sure the table contains no more missing values. Count the missing values again.

In [13]:
#checking the table after missing value replacement

print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [14]:
#checking duplicates

print(df.duplicated().sum())

3826

Call the `pandas` method for getting rid of obvious duplicates:

In [15]:
#in addtion to dropping the duplicates, reset the index and dropped the old index.

df = df.drop_duplicates().reset_index(drop=True)

Count obvious duplicates once more to make sure you have removed all of them:

In [16]:
#verifying all obvious duplicates have been removed

print(df.duplicated().sum())

0

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [17]:
#checking for unique genre

print(df['genre'].unique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic'
 'unknown' 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'variété'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' 'ïîï' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'französisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forró' 'dirty' 'regional']

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` — the list of duplicates
* `correct_genre=` — the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

In [18]:
#creating function with two parameters

def replace_wrong_genres (wrong_genres, correct_genres):
    
    #looping over the list
    
    for wrong_genres in wrong_genres:
        
        #replacing the wrong genre with the correct genre name
        
        df['genre'] = df['genre'].replace(wrong_genres, correct_genres)

Call `replace_wrong_genres()` and pass it arguments so that it clears implicit duplcates (`hip`, `hop`, and `hip-hop`) and replaces them with `hiphop`:

In [19]:
#generate a list of all of the wrong genre names

duplicates = ['hip', 'hop','hip-hop']

#set the correct genre name

genre = 'hiphop'

#replaced all of the wrong genre names with the correct genre name

replace_wrong_genres(duplicates, genre)

Make sure the duplicate names were removed. Print the list of unique values from the `'genre'` column:

In [20]:
#verifying all of the wrong genre names have been corrected

print(df['genre'].unique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic'
 'unknown' 'alternative' 'children' 'rnb' 'hiphop' 'jazz' 'postrock'
 'latin' 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental'
 'rusrock' 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'drum' 'extrememetal' 'türkçe' 'experimental' 'easy'
 'metalcore' 'modern' 'argentinetango' 'old' 'swing' 'breaks' 'eurofolk'
 'stonerrock' 'industrial' 'funk' 'middle' 'variété' 'other' 'adult'
 'christian' 'thrash' 'gothic' 'international' 'muslim' 'relax' 'schlager'
 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage' 'specialty'
 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power' 'death'
 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european' 'tech'
 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera' 'celtic'
 'tradjazz' 'acoustic' 'epicmetal' 'historisch' 'downbeat' 'downtempo'
 'africa' 'audiobook' 'jewish' 'sängerportrait' 'deutschrock' 'eastern'
 'action' 'future' 'electropop' 'folklore' 'bollywood' 'marschmusik' 'rnr'
 'karaoke' 'indian' 'rancheras' 'afrikaans' 'rhythm' 'sound' 'deutschspr'
 'trip' 'lovers' 'choral' 'dancepop' 'retro' 'smooth' 'mexican'
 'brazilian' 'ïîï' 'mood' 'surf' 'gangsta' 'inspirational' 'idm' 'ethnic'
 'bluegrass' 'broadway' 'animated' 'americana' 'karadeniz' 'rockabilly'
 'colombian' 'self' 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport'
 'ragga' 'traditional' 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop'
 'glitch' 'documentary' 'oceania' 'popeurodance' 'dark' 'vi' 'grunge'
 'hardstyle' 'samba' 'garage' 'art' 'folktronica' 'entehno'
 'mediterranean' 'chamber' 'cuban' 'taraftar' 'gypsy' 'hardtechno'
 'shoegazing' 'bossa' 'latino' 'worldbeat' 'malaysian' 'baile' 'ghazal'
 'arabic' 'popelectronic' 'acid' 'kayokyoku' 'neoklassik' 'tribal'
 'tanzorchester' 'native' 'independent' 'cantautori' 'handsup' 'punjabi'
 'synthpop' 'rave' 'französisch' 'quebecois' 'speech' 'soulful' 'jam'
 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow' 'jungle' 'indipop'
 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop' 'forró' 'dirty'
 'regional']

In [37]:
#verifying all of the wrong genre names have been corrected & Sorted the list

print(sorted(df['genre'].unique()))

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró', 'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch', 'holiday', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe', 'unknown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï']

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

For the sake of practice, perform each computation separately. 

Evaluate user activity in each city. Group the data by city and find the number of songs played in each group.

In [176]:
#grouping the data by city 'Shelbyville' 

group_by_city = df[df['city'] == 'Shelbyville']

#call the length of the group, which is the number of rows

len(group_by_city)

18512

In [177]:
#grouping the data by city 'Springfield'

group_by_city = df[df['city'] == 'Springfield']

#call the length of the group, which is the number of rows

len(group_by_city)

42741

In [178]:
#use groupby instead

group_by_city = df.groupby('city')['city'].count()

print(group_by_city)

city
Shelbyville    18512
Springfield    42741
Name: city, dtype: int64

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [61]:
#grouping the data by the day 'Monday'

group_by_week = df[df['day'] == 'Monday']

#call the length of the group

len(group_by_week)

21354

In [62]:
#grouping the data by the day 'Wednesday'

group_by_week = df[df['day'] == 'Wednesday']

#call the length of the group

len(group_by_week)

18059

In [63]:
#group the data by the day 'Friday'

group_by_week = df[df['day'] == 'Friday']

#call the length of the group

len(group_by_week)

21840

In [179]:
#use groupby instead

group_by_city = df.groupby('day')['day'].count()

print(group_by_city)

day
Friday       21840
Monday       21354
Wednesday    18059
Name: day, dtype: int64

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You have seen how grouping by city or day works. Now write a function that will group by both.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [96]:
# <creating the function number_tracks()>

def number_tracks(day, city):
    
    # We'll declare a function with two parameters: day=, city=.
    # Let the track_list variable store the df rows where
    # the value in the 'day' column is equal to the day= parameter and, at the same time, 
    # the value in the 'city' column is equal to the city= parameter (apply consecutive filtering 
    # with logical indexing).
    
    track_list = df[df['day'] == day]
    track_list_city = track_list[track_list['city'] == city]
    
    # Let the track_list_count variable store the number of 'user_id' column values in track_list
    # (found with the count() method).  
    
    track_list_count = track_list_city['user_id'].count()
  
    # Let the function return a number: the value of track_list_count.
    
    return track_list_count


# The function counts tracked played for a certain city and day.
# It first retrieves the rows with the intended day from the table,
# then filters out the rows with the intended city from the result,
# then finds the number of 'user_id' values in the filtered table,
# then returns that number.
# To see what it returns, wrap the function call in print().

print()

Call `number_tracks()` six times, changing the parameter values, so that you retrieve the data on both cities for each of the three days.

In [97]:
# the number of songs played in Springfield on Monday

print(number_tracks('Monday', 'Springfield'))

15740

In [91]:
# the number of songs played in Shelbyville on Monday

print(number_tracks(day='Monday', city = 'Shelbyville'))

5614

In [92]:
# the number of songs played in Springfield on Wednesday

print(number_tracks(day='Wednesday', city='Springfield'))

11056

In [93]:
# the number of songs played in Shelbyville on Wednesday
print(number_tracks(day = 'Wednesday', city = 'Shelbyville'))

7003

In [94]:
# the number of songs played in Springfield on Friday

print(number_tracks(day = 'Friday', city ='Springfield'))

15945

In [95]:
# the number of songs played in Shelbyville on Friday

print(number_tracks(day = 'Friday', city = 'Shelbyville'))

5895

Use `pd.DataFrame` to create a table, where
* Column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the results you got from `number_tracks()`

In [101]:
# table with results

column_names = ['city', 'monday', 'wednesday', 'friday']

#call back each number_tracks() with different parameters

data = [
    ['Springfield', 
     number_tracks(day = 'Monday', city = 'Springfield'),
     number_tracks(day = 'Wednesday', city = 'Springfield'),
     number_tracks(day = 'Friday', city = 'Springfield')
    ],
    ['Shelbyville',
     number_tracks(day = 'Monday', city = 'Shelbyville'),
     number_tracks(day = 'Wednesday', city = 'Shelbyville'),
     number_tracks(day = 'Friday', city = 'Shelbyville')
    ]
]

tracks = pd.DataFrame(data=data, columns=column_names)

print(tracks)

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):
* For Springfield — `spr_general`
* For Shelbyville — `shel_general`

In [102]:
# create the spr_general table from the df rows, 
# where the value in the 'city' column is 'Springfield'

spr_general = df[df['city'] == 'Springfield']

print(spr_general)

        user_id                          track                   artist  \
1      55204538    Delayed Because of Accident         Andreas Rönnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE                       L’estate              Julia Dalia
...         ...                            ...                      ...
61247  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
61248  729CBB09                        My Name                   McLean
61250  C5E3A0D5                      Jalopiina                  unknown
61251  321D0506                  Freight Train            Chas McDevitt
61252  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              genre         city      time        day
1              rock  Springfield  14:07:09     Friday
4             dance  Springfield  08:34:34     Monday
6             dance  Springfield  13:00:07  Wednesday
7             dance  Springfield  20:47:49  Wednesday
8            ruspop  Springfield  09:17:40     Friday
...             ...          ...       ...        ...
61247  extrememetal  Springfield  21:07:12     Monday
61248           rnb  Springfield  13:32:28  Wednesday
61250    industrial  Springfield  20:09:26     Friday
61251          rock  Springfield  21:43:59     Friday
61252       country  Springfield  21:59:46     Friday

[42741 rows x 7 columns]

In [103]:
# create the shel_general from the df rows,
# where the value in the 'city' column is 'Shelbyville'

shel_general = df[df['city'] == 'Shelbyville']

print(shel_general)

        user_id                              track              artist  \
0      FFB692EC                  Kamigata To Boots    The Mass Missile
2        20EC38                  Funiculì funiculà         Mario Lanza
3      A3DD03C9              Dragons in the Sunset          Fire + Ice
5      842029A1                             Chains            Obladaet
9      E772D5C0                          Pessimist             unknown
...         ...                                ...                 ...
61239  D94F810B        Theme from the Walking Dead  Proyecto Halloween
61240  BC8EC5CF       Red Lips: Gta (Rover Rework)               Rover
61241  29E04611                       Bre Petrunko       Perunika Trio
61242  1B91C621             (Hello) Cloud Mountain     sleepmakeswaves
61249  D08D4A55  Maybe One Day (feat. Black Spade)         Blu & Exile

            genre         city      time        day
0            rock  Shelbyville  20:28:33  Wednesday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
5          rusrap  Shelbyville  13:09:41     Friday
9           dance  Shelbyville  21:20:49  Wednesday
...           ...          ...       ...        ...
61239        film  Shelbyville  21:14:40     Monday
61240  electronic  Shelbyville  21:06:50     Monday
61241       world  Shelbyville  13:56:00     Monday
61242    postrock  Shelbyville  09:22:13     Monday
61249      hiphop  Shelbyville  10:00:00     Monday

[18512 rows x 7 columns]

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [167]:
# 1) Let the genre_df variable store the rows that meet several conditions:
#    - the value in the 'day' column is equal to the value of the day= argument
#    - the value in the 'time' column is greater than the value of the time1= argument
#    - the value in the 'time' column is smaller than the value of the time2= argument
#    Use consecutive filtering with logical indexing.

# 2) Group genre_df by the 'genre' column, take one of its columns, 
#    and use the count() method to find the number of entries for each of 
#    the represented genres; store the resulting Series to the
#    genre_df_count variable

# 3) Sort genre_df_count in descending order of frequency and store the result
#    to the genre_df_sorted variable

# 4) Return a Series object with the first 15 genre_df_sorted value - the 15 most
#    popular genres (on a given day, within a certain timeframe)

# Write your function here

def genre_weekday(df, day, time1, time2):

    # consecutive filtering
    # Create the variable genre_df which will store only those df rows where the day is equal to day=
    genre_df = df[df['day'] == day]

    # filter again so that genre_df will store only those rows where the time is smaller than time2=
    genre_df = genre_df[genre_df['time'] <= time2]

    # filter once more so that genre_df will store only rows where the time is greater than time1=
    genre_df = genre_df[genre_df['time'] >= time1]

    # group the filtered DataFrame by the column with the names of genres, take the genre column, and find the number of rows for each genre with the count() method
    genre_df_count = genre_df.groupby('genre').count()
   

    # sort the result in descending order (so that the most popular genres come first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(by = 'user_id', ascending = False)

    # we will return the Series object storing the 15 most popular genres on a given day in a given timeframe
    return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [180]:
# calling the function for Monday morning in Springfield (use spr_general instead of the df table)

print (genre_weekday(df = spr_general, day = 'Monday', time1 = '07:00', time2 = '11:00'))

             user_id  track  artist  city  time  day
genre
pop              781    781     781   781   781  781
dance            549    549     549   549   549  549
electronic       480    480     480   480   480  480
rock             474    474     474   474   474  474
hiphop           286    286     286   286   286  286
ruspop           186    186     186   186   186  186
world            181    181     181   181   181  181
rusrap           175    175     175   175   175  175
alternative      164    164     164   164   164  164
unknown          161    161     161   161   161  161
classical        157    157     157   157   157  157
metal            120    120     120   120   120  120
jazz             100    100     100   100   100  100
folk              97     97      97    97    97   97
soundtrack        95     95      95    95    95   95

In [144]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)

print (genre_weekday(df = shel_general, day = 'Monday', time1 = '07:00', time2 = '11:00'))

             user_id  track  artist  city  time  day
genre
pop              218    218     218   218   218  218
dance            182    182     182   182   182  182
rock             162    162     162   162   162  162
electronic       147    147     147   147   147  147
hiphop            80     80      80    80    80   80
ruspop            64     64      64    64    64   64
alternative       58     58      58    58    58   58
rusrap            55     55      55    55    55   55
jazz              44     44      44    44    44   44
classical         40     40      40    40    40   40
world             36     36      36    36    36   36
rap               32     32      32    32    32   32
soundtrack        31     31      31    31    31   31
rnb               27     27      27    27    27   27
metal             27     27      27    27    27   27

In [181]:
# calling the function for Friday evening in Springfield

print (genre_weekday(df = spr_general, day = 'Friday', time1 = '17:00', time2 = '23:00'))

             user_id  track  artist  city  time  day
genre
pop              713    713     713   713   713  713
rock             517    517     517   517   517  517
dance            495    495     495   495   495  495
electronic       482    482     482   482   482  482
hiphop           273    273     273   273   273  273
world            208    208     208   208   208  208
ruspop           170    170     170   170   170  170
classical        163    163     163   163   163  163
alternative      163    163     163   163   163  163
rusrap           142    142     142   142   142  142
jazz             111    111     111   111   111  111
unknown          110    110     110   110   110  110
soundtrack       105    105     105   105   105  105
rnb               90     90      90    90    90   90
metal             88     88      88    88    88   88

In [182]:
# calling the function for Friday evening in Shelbyville

print (genre_weekday(df = shel_general, day = 'Friday', time1 = '17:00', time2 = '23:00'))

             user_id  track  artist  city  time  day
genre
pop              256    256     256   256   256  256
rock             216    216     216   216   216  216
electronic       216    216     216   216   216  216
dance            210    210     210   210   210  210
hiphop            97     97      97    97    97   97
alternative       63     63      63    63    63   63
jazz              61     61      61    61    61   61
classical         60     60      60    60    60   60
rusrap            59     59      59    59    59   59
world             54     54      54    54    54   54
unknown           47     47      47    47    47   47
ruspop            47     47      47    47    47   47
soundtrack        40     40      40    40    40   40
metal             39     39      39    39    39   39
rap               36     36      36    36    36   36

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [187]:
# on one line: group the spr_general table by the 'genre' column, 
# count the 'genre' values with count() in the grouping, 
# sort the resulting Series in descending order, and store it to spr_genres

spr_genres = spr_general.groupby('genre')['genre'].count().sort_values(ascending = False)
print(spr_genres)

genre
pop           5892
dance         4435
rock          3965
electronic    3786
hiphop        2096
              ...
karadeniz        1
kayokyoku        1
lovers           1
malaysian        1
acid             1
Name: genre, Length: 250, dtype: int64

Print the first 10 rows from `spr_genres`:

In [189]:
# printing the first 10 rows of spr_genres

spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: genre, dtype: int64

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [190]:
# on one line: group the shel_general table by the 'genre' column, 
# count the 'genre' values in the grouping with count(), 
# sort the resulting Series in descending order and store it to shel_genres

shel_genres = shel_general.groupby('genre')['genre'].count().sort_values(ascending = False)
print(shel_genres)

genre
pop              2431
dance            1932
rock             1879
electronic       1736
hiphop            960
                 ...
jungle              1
laiko               1
leftfield           1
mandopop            1
international       1
Name: genre, Length: 202, dtype: int64

Print the first 10 rows of `shel_genres`:

In [191]:
# printing the first 10 rows from shel_genres

shel_genres.head(10)

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: genre, dtype: int64

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

[Back to Contents](#back)